.notebook-list {
    margin: 0 auto;
    width: 45rem;
    background: #555;
    padding: 2rem;
}

.modal-trigger {
    margin: 0 auto;
    width: 5rem;
    border-radius: 20%;
    margin-top: 1rem;
}